- hosts: all
  become: yes
  become_user: root
  vars_files:
  - vars.yml
  roles:
  - role: base
    tags: base
  - role: certifsuite
    tags: certifsuite
  - role: perfsuite
    tags: perfsuite
  - role: qwc2
    tags: qwc2
  - role: ogcapif
    tags: ogcapif
  - role: certification
    tags: certification
  - role: clean
    tags: clean
  - role: dashboard
    tags: dashboard
