- name: Install prerequisites
  apt:
    name: ['git', 'apt-transport-https', 'dirmngr', 'nginx']
    update_cache: yes

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg

- name: Add Docker APT repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/debian {{ansible_distribution_release}} stable

- name: Install Docker
  apt:
    name: ['docker-ce', 'docker-compose']

- name: Create user '{{ user }}' and add it to group docker
  user:
    name: '{{ user }}'
    groups: docker
    append: yes
    system: yes

- name: Create .ssh directory for '{{ user }}'
  file:
    path: "/home/{{ user }}/.ssh"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'

- name: Copy the SSH config for '{{ user }}'
  copy:
    src: ssh_config
    dest: "/home/{{ user }}/.ssh/config"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0644'

- name: Copy the SSH keypair for '{{ user }}'
  copy:
    src: "{{ item.src }}"
    dest: "/home/{{ user }}/.ssh/"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "{{ item.mode }}"
  loop:
  - { src: 'id_rsa_qgis_foundation.pub', mode: '0644' }
  - { src: 'id_rsa_qgis_foundation', mode: '0600' }
